@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
    color: v.$negro;
    line-height: 1.5;
}

.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display:grid;
}

h1 {
    font-size: 4rem;
} 

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}